<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card">
    <div class="card-body">
        <ul class="list-group">
            {% for course in pending_courses %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="{{ url_for('course_detail', course_id=course.id) }}">
                        {{ course.course_name }} - {{ course.teacher_name }}
                    </a>
                    <a href="{{ url_for('approve_course_request', course_id=course.id) }}" class="btn btn-success">Approve</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
</body>
</html>